<a href="/tracks/new">List your favourite song...</a>

<% @tracks.each do |track| %>
  <div class="track">
    <h3><a href="/tracks/<%= track.id %>"><%= track.song %></a> 
      <!-- only display if url field exists -->
      <% unless track.url.to_s.empty? %>
        <a href="<%= track.url %>" target="_blank"><span style="font-size: 12px">video</span></a>
      <% end %>
      </br>
      <span style="font-size: 12px">
        <%= track.likes %> points | posted by 
        <a href="/users/<%= track.user_id %>">
        <% if track.user.name == session[:name] %>
          *you*
        <% else %>
          <%= track.user.name %>
        <% end %>
        </a>
        <span style="color: orange">

        <% if @votes.find_by(track_id: track.id) %>
          <% if @votes.find_by(track_id: track.id).track_id == track.id %>
            (how you voted): <%= @votes.find_by(track_id: track.id).vote %>
          <% end %>
        <% else %>
          <form method="post" action="/tracks/upvote?trackid=<%= track.id %>">
            <button style="color: orange">upvote</button>
          </form>
        <% end %>
        </span>
      </span>
    </h3>
  </div>
<% end %>

<hr/>
<a href="/">Back to MAIN...</a>