<h1><%= @track.song %>
  <!-- only display if url field exists -->
  <% unless @track.url.to_s.empty? %>
    <a href="<%= @track.url %>" target="_blank"><span style="font-size: 15px">(video)</span></a>
  <% end %>
</h1>

<p>
  Album: <%= @track.album %>
</p>

<p>
  Artist: <%= @track.artist %>
</p>

<p>
  Posted by: <a href="/users/<%= @track.user_id %>"><%= @track.user.name %></a>
</p>

<p>
  All known songs by <%= @track.artist %>: 
  <ul>
  <% Track.where(artist: @track.artist).each do |entries_by_same_artist| %>
    <li><a href="/tracks/<%= entries_by_same_artist.id %>"><%= entries_by_same_artist.song %></a></li>
  <% end %>
  </ul>
</p>

<hr/>
<a href="/tracks">Back to all Songs</a>