<% if session[:name] %>
<a href="/pins/new">Drop new PIN...</a>
<% end %>

<% @pins.each do |pin| %>
  <% if pin.user.name == session[:name] || pin.recipient == session[:name] || pin.recipient == "Public" %>
    <div class="pin">
      <h3><a href="/pins/<%= pin.id %>"><%= pin.message %></a> 
        <!-- only display if url field exists -->
        <% unless pin.url.to_s.empty? %>
          <a href="<%= pin.url %>" target="_blank"><span style="font-size: 12px">url</span></a>
        <% end %>
        </br>
        <span style="font-size: 12px; color: orange">
          dropped by 
          <a href="/users/<%= pin.user_id %>">
          <% if pin.user.name == session[:name] %>
            *you*
          <% else %>
            <%= pin.user.name %>
          <% end %>
          </a>
            @: <%= pin.location %> FOR:
            <a href="/users/<%= User.where(name: pin.recipient).first.id %>">
              <% if pin.recipient == session[:name] %>
                *you*
              <% else %>
                <%= pin.recipient %>
              <% end %>
            </a>
            ON: <%= pin.created_at.strftime("%h %d (%r)") %>
        </span>
      </h3>
    </div>
  <% end %>
<% end %>

<hr/>
<a href="/">Back to MAIN...</a>